@model AllCatsViewModel
@using Mapsps.Data
@using Mapsps.Services
@using Microsoft.EntityFrameworkCore;
@inject ApplicationDbContext db
@inject CatService catservice
@{
    var count = this.db.Cats.Count();
}
<h1>@count</h1>
<div class="row">
    @foreach (var cat in catservice.GetAllCatsAsync())
    {
        <div class="col-sm-4">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@cat.ImageId.FirstOrDefault()</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

    }
</div>