@using Mapsps.Common
@using Mapsps.Services
@inject UserService userService 
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>@userService.HowManyCats() hot and single писис in @userService.HowManyCities() cities await your scritches! </p>
</div>
