@model AddCatViewModel
@{
    this.ViewData["Title"] = "Add";
}


<form class="text-center mr-0 col-md-10" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <label asp-for="Image"></label>
        <input asp-for="Image" />

    </div>
    <div>
        <label asp-for="Nickname"></label>
        <input asp-for="Nickname" />

    </div>
    <input type="submit" />

</form>

<aside class="col-md-2 float-right">
    <vc:top-cats> </vc:top-cats>
</aside>

